.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

html {
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

  .full-height {
    height: 100%;
  }

/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.statField{
  text-align:right;
}
.rStatField{
  text-align:right;
}

.activeCampaignSession {
  background-color:#9df9ae;
}

#campaignSession {
  min-width: 1500px;
  min-height: 720px;
  overflow: auto;
}

#drawingChatArea {
  position: absolute;
  top: 50px;
  right: 0px;
  left: 0px;
  height: 500px;
  margin: 10px 10px 0px 10px;
}

#drawingOptions {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  width: 200px;
  height: 500px;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 4px;
}

#drawingObjectList {
  height: 200px;
  overflow-y: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;
  padding-top: 10px;
}

#drawingObjectList a {
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

#drawingCanvas {
  position: absolute;
  top: 0px;
  right: 300px;
  bottom: 0px;
  left: 210px;
  min-width: 800px;
  height: 500px;
}

#drawingCanvas canvas {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
}

#chatArea {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 1020px;
  bottom: 0px;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

#charInfoPlayerList {
  position: absolute;
  top: 570px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 200px;
  margin: 0px 10px 0px 10px;
}

#characterInfo {
  position: absolute;
  top: 0px;
  right: 30%;
  bottom: 0px;
  left: 0px;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

#players {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 70%;
  bottom: 0px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.drawingScaleNorth {
  cursor: n-resize;
}

.drawingScaleNorthEast {
  cursor: ne-resize;
}

.drawingScaleEast {
  cursor: e-resize;
}

.drawingScaleSouthEast {
  cursor: se-resize;
}

.drawingScaleSouth {
  cursor: s-resize;
}

.drawingScaleSouthWest {
  cursor: sw-resize;
}

.drawingScaleWest {
  cursor: w-resize;
}

.drawingScaleNorthWest {
  cursor: nw-resize;
}

.drawingMoveObject {
  cursor: move;
}
