<h3>Campaign List</h3>
<div ng-show="error" class="alert alert-danger row">
  <span>{{ error.message }}</span>
</div>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th>Private</th>
      <th>Dungeon Master</th>
      <th>Players</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="campaign in campaigns">
      <td>{{campaign.name}}</td>
      <td>{{campaign.description}}</td>
      <td>{{campaign.code}}</td>
      <td>{{campaign.private}}</td>
      <td>{{campaign.dm.username}}</td>
      <td>
        <span style="padding-right: 5px" ng-repeat="player in campaign.players track by $index">{{player.username}}</span>
      </td>
    </tr>
  </tbody>
</table>
