<div ng-controller="NewModCtrl">
  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="newMod.username" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="newMod.password" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword" />
    </div>
    <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
  </form>
</div>
