<h3>Edit Player</h3>
<div class="container-fluid">
  <div class="row">
    <div ng-show="error" class="alert alert-danger">
      <span>{{ error.data }}</span>
    </div>
    <div ng-show="success" class="alert alert-success">
      <span>{{ success.message }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" ng-model="player.username" />
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" ng-model="player.email" />
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success" ng-click="savePlayer()">Save Player</button>
      <button type="button" class="btn btn-danger" ng-click="deletePlayer()">Delete Player</button>
      <button type="button" class="btn btn-primary" ng-click="addCharacter()">Add New Character</button>
    </div>
  </div>
  <div class="row">
    <div class="list-group col-xs-12 col-sm-6 col-md-4">
      <label>Campaigns</label>
      <div class="list-group-item" ng-repeat="campaign in player.campaigns track by $index">
        <div class="list-group-item-heading">
          {{campaign.name}}
          <button class="glyphicon glyphicon-remove btn btn-danger" style="float: right;" data-toggle="tooltip"
          data-placement="left" title="Remove this campaign" ng-click="removeCampaign($index)"></button>
        </div>
        <div class="list-group-item-text">
          <b>ID: </b> {{campaign._id}} <br />
          <b>Code: </b> {{campaign.code}}
        </div>
      </div>
    </div>
    <div class="list-group col-xs-12 col-sm-6 col-md-4">
      <label>Characters</label>
      <div class="list-group-item" ng-repeat="character in player.characters track by $index">
        <div class="list-group-item-heading">
          {{character.name}}
          <button class="glyphicon glyphicon-remove btn btn-danger" style="float: right;" data-toggle="tooltip"
          data-placement="left" title="Delete this character" ng-click="deleteCharacter($index)"></button>
        </div>
        <div class="list-group-item-text">
          <b>Class: </b> {{character.class}} <br />
          <b>Level: </b> {{character.level}}
        </div>
      </div>
    </div>
  </div>
</div>
