<!-- Drawing and Character Info (Left Side) -->
<div style="position: absolute; right: 30%; top: 50px; left: 0px; bottom: 0px;">
  <!-- Drawing Area (Top) -->
  <div style="position: absolute; top: 0px; bottom: 25%; right: 0px; left: 0px;">
    <!-- Drawing Options (Left) -->
    <div style="position: absolute; top: 0px; bottom: 0px; right: 80%; left: 0px;">
      <form>
        <input type="radio" value="line" ng-model="options.shape">Line</input>
        <br />
        <input type="radio" value="box" ng-model="options.shape">Box</input>
        <br />
        <input type="radio" value="circle" ng-model="options.shape">Circle</input>
        <hr />
        <input type="checkbox" value="" ng-model="options.filled">Filled</input>
        <br />
        Line Width: <input type="number" min="1" max="10" ng-model="options.lineWidth" />
        <br />
        Color: <button id="color" ng-click="changeColor()" style="height: 1em; width: 1em; border: 1px solid black; background-color: black"></button>
        <br />
        Red: <input type="range" ng-model="picker.red" min="0" max="255" ng-change="colorChanged()" />
        Green: <input type="range" ng-model="picker.green" min="0" max="255" ng-change="colorChanged()" />
        Blue: <input type="range" ng-model="picker.blue" min="0" max="255" ng-change="colorChanged()" />
      </form>
    </div>

    <!-- Canvas (Right) -->
    <div style="position: absolute; top: 0px; bottom: 0px; right: 0px; left: 20%;">
      <canvas height="500px" width="800px" style="border: 1px solid black; margin-top: 10px;"></canvas>
    </div>
  </div>

  <!-- Character Info (Bottom) -->
  <div style="position: absolute; top: 75%; bottom: 0px; right: 0px; left: 0px;">
    Character Info
  </div>
</div>

<!-- Chat Area (Right Side) -->
<div style="position: absolute; left: 70%; top: 50px; right: 0px; bottom: 0px;">
  <chat messager-info="{id: campaign._id }"></chat>
</div>
