<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 panel-group" style="margin-top: 10px;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {{campaign.name}}
        </div>
        <div class="panel-body">
          <p>
            <b>DM: </b>{{campaign.dm.username}}
          </p>
          <p>
            <b>Description: </b>{{campaign.description}}
          </p>
          <p>
            <b>Code: </b>{{campaign.code}}
          </p>
          <p>
            <b>Status: </b>{{lobbyStatus}}
          </p>

          <button type="button" class="btn btn-primary btn-md" style="margin-top:1em;" ng-click="toggleOpen()" ng-show="isDM">{{toggleButtonText}}</button>
          <button type="button" class="btn btn-primary btn-md" style="margin-top:1em;" ng-click="deleteCampaign()" ng-show="isDM">Dissolve Campaign</button>
          <button type="button" class="btn btn-primary btn-md" style="margin-top:1em;" ng-click="openBlacklist()" ng-show="isDM">Modify BlackList</button>
          <button type="button" class="btn btn-primary btn-md" style="margin-top:1em;" ng-click="startSession()" ng-show="isDM">Start Campaign</button>

        </div>
      </div>
    </div>


    <div class="col-sm-4" style="margin-top: 10px">
      <player-list></player-list>
    </div>

    <div class="col-sm-4">
      <chat></chat>
    </div>

  </div>
</div>
<script>

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
