<head>
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</head>
<div class="container text-center">
  <h1>Welcome Player</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- PlayerCampaignListCtrl -->
    <div class="col-md-4" ng-controller="PlayerCampaignListCtrl">
      <div class="page-header">
        <h1>Your Campaigns</h1>
      </div>
      <table class="table table-hover table-condensed" style="border-collapse:collapse">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>DM Name</th>
            <th>Description</th>
            <th>Join</th>
          </tr>
        </thead>
        <tbody ng-repeat = "campaign in campaignList">
          <tr data-toggle="collapse">
            <td>
              {{campaign.name}}
            </td>
            <td>
              {{campaign.dm}}
            </td>
            <td>
              <a href="#" data-toggle="tooltip" title="{{campaign.description}}">View</a>
            </td>
            <td>
              <button class="btn btn-primary" ng-click='openJoinCampaignModal($index)'>Join</button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="showCreateCampaignModal()">Create Campaign</button>
        <button type="button" class="btn btn-primary" ng-click="showJoinCampaignCodeModal()">Join Campaign</button>
      </div>
    </div>

    <!-- CharacterListCtrl -->
    <div class="col-md-4" ng-controller="CharacterListCtrl">
      <div class="page-header">
        <h1>Your Characters</h1>
      </div>
      You don't have any characters.
      <hr />
      <button type="button" class="btn btn-primary" ng-click="newCharacter()">Create New Character</button>
    </div>

    <!-- CampaignLobbyListCtrl -->
    <div class="col-md-4" ng-controller="CampaignLobbyListCtrl">
      <div class="page-header">
        <h1>Public Campaigns</h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>DM Name</th>
            <th>Number of People</th>
            <th>Join</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "campaign in openCampaigns">
            <td>
              {{campaign.name}}
            </td>
            <td>
              {{campaign.dm.username}}
            </td>
            <td>
              {{campaign.players.length}}
            </td>
            <td>
              <button class="btn btn-primary" ng-click="joinPublicCampaignClick($index)">Join</button> <!--button to join public campaign-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
