<div class="modal fade" tabindex="-1" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form style="margin-top:30px;">
          <h3>Register</h3>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Display Name" ng-model="player.username" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="email" ng-model="player.email" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="player.password" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword" />
          </div>
          <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
          <button type="button" class="btn" ng-click="cancel()">Cancel</button>
        </form>

      </div>
    </div>
  </div>
</div>
